html {
    height: 100%;
    background-image: url(media/JoshuaTreeBG.JPG);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #000;

    scrollbar-color: #fff #000;
}


body {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ff000000;
  margin-top: 12px;
}

.frontpage {
    z-index: 1;
    position: absolute;
    left: 240px;
    width: 500px;
    padding: 18px;
    background-color: #F7B267;
    color: #000;
}

.leftnav {
    overflow: auto;
    background-color: #F7B267;
    position: fixed;
    left: 0;
    width: 180px;
}

.leftnav p {
    padding-left: 5px;
    margin-bottom: 5px;
}


.leftnav ul {
    list-style-type: none;
    padding: 0px 0px 5px 0px;        
    margin-bottom: 5px;
    border-bottom: 2px dotted #F25C54;
}

.leftnav ul a {
    padding-left: 5px;
    width: 180px;
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.leftnav ul a {
    padding-left: 5px;
    width: 180px;
    display: inline-block;
    color: #000;
    text-decoration: none;
}


.leftnav ul a:hover, .nav ul a:focus {
    color: #FFF;
    background-color: #F25C54;
    font-weight: bold;
}






.pagetitle {
  font-weight: 700;
  font-size: 2.4em;
}

.pagesubtitle {
  font-weight: 500;
}


h5 {
  font-weight: 400;
}

.modal-backdrop {
    z-index: 1040 !important;
}

.modal {
    z-index: 1050 !important;
}

.card { 
    margin-bottom: 2rem;
} 
.card-body {
    padding-top: 0rem;
    padding-bottom: 0rem;
    height: auto;
}
.card-title {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 2.5rem;
    margin: 0rem;
}
.card-footer {
    font-size: 0.8rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}



.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.offcanvas-custom {
  --bs-offcanvas-width: 50% !important;
}
@media (max-width: 768px) {
  .offcanvas-custom {
    width: 100% !important; /* Full-width for small screens */
  }
}



#reuniclus {
  position: absolute;
  left: 160px;
  top: 200px;
  z-index: 6;
}

#zoroaster {
  position: absolute;
  left: 80px;
  top: 120px;
  z-index: 4;
}

#wooper {
  position: absolute;
  left: 20px;
  top: 140px;
  z-index: 8;
}

#doge {
  position: absolute;
  left: 280px;
  top: 120px;
  z-index: 9;
}


#frog {
  position: absolute;
  left: 60px;
  top: 280px;
  z-index: 10;
}

#hubert {
  position: absolute;
  left: 800px;
  top: 440px;
  z-index: 3;
}

#cat {
  position: absolute;
  left: 500px;
  top: 70px;
  z-index: 4;
}

#goose {
  position: absolute;
  left: 400px;
  top: 90px;
  z-index: 5;
}

#spongebob {
  position: absolute;
  left: 110px;
  top: 420px;
  z-index: 3;
}

#penguin {
  position: absolute;
  left: 300px;
  top: 490px;
  z-index: 5;
}


