body {
  background-color: rgb(255, 103, 0);
}

#reuniclus {
  position: absolute;
  left: 160px;
  top: 160px;
  z-index: 4;
}

#zoroaster {
  position: absolute;
  left: 80px;
  top: 80px;
  z-index: 3;
}

#wooper {
  position: absolute;
  left: 20px;
  top: 100px;
  z-index: 6;
}

#jit {
  position: absolute;
  left: 280px;
  top: 80px;
  z-index: 7;
}


#frog {
  position: absolute;
  left: 60px;
  top: 240px;
  z-index: 8;
}

#hubert {
  position: absolute;
  left: 400px;
  top: 300px;
  z-index: 2;
}

#cat {
  position: absolute;
  left: 500px;
  top: 30px;
  z-index: 1;
}

#goose {
  position: absolute;
  left: 400px;
  top: 50px;
  z-index: 3;
}

#spongebob {
  position: absolute;
  left: 40px;
  top: 450px;
  z-index: 1;
}

